#guestCartContainer {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #91a9ff;
    justify-content: center;
  }
  
  #header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: #72e0ff;
  }
  
  #rightButtonCart {
    height: 40px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: #b7b7ff;
    background: #212121;
    border: 5px outset #72e0ff;
  }
  
  #leftButtonCart {
    height: 40px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background: #a2c8f3;
    width: 150px;
    color: #b7b7ff;

    border: 5px outset #b7b7ff;
  }
  
  #selectedQuantity {
    font-family: "Zen Dots", cursive;
    width: 60px;
    height: 40px;
    color: #b7b7ff;

    border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #adead0;
    border: 5px outset #91a9ff;
  }
  
  #rightButtonCart:hover,
  #leftButtonCart:hover,
  #selectedQuantity:hover {
    transform: scale(1.05);
  }
  
  #allthebuttons {
    display: flex;
    height: 40px;
    color: #b7b7ff;

    width: 300px;
    justify-content: center;
    margin-bottom: -10px;
    margin-top: -4px;
  }
  