#guestCart {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
  
#header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
  
#rightButtonCart {
  height: 40px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background: rgb(214, 229, 255);
  border: 5px outset rgb(151, 255, 255);
}
  
#leftButtonCart {
  height: 40px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background: rgb(162, 200, 243);
  width: 150px;
  border: 5px outset rgb(173, 197, 203);
}
  
#selectedQuantity {
  font-family: "Zen Dots", cursive;
  width: 60px;
  height: 40px;
  border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: rgb(173, 234, 208);
  border: 5px outset rgb(173, 203, 195);
}
  
#rightButtonCart:hover,
#leftButtonCart:hover,
#selectedQuantity:hover {
  transform: scale(1.05);
}
  
#allButtons {
  display: flex;
  height: 40px;
  width: 300px;
  justify-content: center;
  margin-bottom: -10px;
  margin-top: -4px;
}