#navbar {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  color: black;
  justify-content: space-between;
  /* background-image: url("car-wash.png"); */
  box-shadow: 3px 3px 3px 3px rgba(206, 205, 205, 0.133);
  text-decoration: none;
  background-size: cover;
}

#logo {
  -webkit-text-stroke: 0.3px #b8a9a9;
  font-size: 40px;
  color: #066293;
  text-decoration: none;
  display: flex;
}

#navs1{
  display: flex;
  color: black;
  justify-content: space-around;
  align-items: center;
}

.leftNav {
  display: flex;
  color: black;
  justify-content: space-between;
}

.rightNav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  color: black;
  padding-bottom: 3px;
}

.Icon1 {
  font-size: x-large;
  -webkit-text-stroke: 0.3px #ff8e8e;
  margin-right: 10px;
  color: blue;
}

.Icon2 {
  font-size: x-large;
  -webkit-text-stroke: 0.3px #f80000;
  margin-right: 10px;
  color: #f80000;
}

.Icon3 {
  font-size: x-large;
  -webkit-text-stroke: 0.3px #9c0000;
  margin-right: 20px;
  color: black;
}

.adminBtn {
  font-size: 18px;
  margin-right: 8px;
  border: 2px solid #00bdd6;
  border-radius: 5px;
  background-color: #8998f900;

  -webkit-text-stroke: 0.2px #00879c;
  font-family: "Zen Dots", cursive;
  color: #066293;
  text-decoration: none;
}

.navbuttons {
  display: flex;
  color: black;
  padding-left: 5px;
}
.navbuttons a{
  background-color: blue;
  color: #f80000;
}
.contact{
  color: #ff0000;
  background-color: #066293;

}

#productsThing:hover,
.Icon1:hover,
.Icon2:hover,
.Icon3:hover,
.adminIcon:hover,
#logoutBtn:hover {
  transform: scale(1.1);
  color: #f80000;
}

#logoutBtn {
  font-size: 18px;

  border: 2px solid #4c712f;
  border-radius: 5px;
  background-color: #49d2fb72;
  -webkit-text-stroke: 0.2px white;
  font-family: "Zen Dots", cursive;
  color: #0bce60;
}


.productsNav {
  -webkit-text-stroke: 0.3px white;
  font-size: 25px;
  color: #066293;
  text-decoration: none;
  border-radius: 5px; 
}

@media screen and (max-width: 768px) {
  #logo {
    font-size: 20px;
  }

  .productsNav {
    font-size: 16px;
    -webkit-text-stroke: 0.2px white;
  }

  .mainNav {
    width: 300px;
    color: #9c0000;
  }

  .adminIcon,
  .Icon1,
  .Icon3,
  .Icon2 {
    font-size: medium;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
  }

  .adminBtn,
  #logoutBtn {
    font-size: 14px;
    -webkit-text-stroke: 0.2px white;
    margin-right: 2px;
color: darkslategrey;
    font-size: large;
    margin-left: 30px;
  }
}
